<!-- Main Content Area | Side Nav | Content -->

    <!-- Side Navigation -->
    <div class="span2 pull-right">
      <div class="member-box round-all">
        <span>
            <strong><center>What's New with Spokiyo</strong><br/></center>
             <ul class="nav nav-list"><br/>
          <i class="icon-asterisk"></i> Spokiyo Ltd. partnered with IBM<br/><br/>
             <i class="icon-asterisk"></i> Rebates for the Month of August<br/><br/>
                <i class="icon-asterisk"></i> Spokiyo Ltd. partnered with CITIBANK<br/><br/>
            </ul>

        </span>
      </div>
      <div class="sidebar-nav">
        <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">Advertisment</li>
          <li class="nav-header"><%=image_tag 'add2.png'%></li>
         <li class="nav-header"><%=image_tag 'add3.jpg'%></li>
         
        </ul>
        </div>
      </div><!--/.well -->
    </div><!--/span-->
